<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>imsto manage</title>
	<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui.min.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/css/images.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/css/colorbox.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/css/pager.css" type="text/css" media="screen" charset="utf-8">
	<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery-ui-1.11.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery.colorbox-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery.pager.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/dust_func.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">

	var api_key = '{{.APIKey}}';

	</script>
	<script src="/static/demo/gallery.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

	<div id="head" class="ui-widget-content ui-corner-all">

		<div><form method="post">
		<a class="button" href="upload">Upload</a>
			<div id="radios1" class="button_box"></div>
			<div id="radios2" class="button_box2"></div>
			<div class="button_box">
		<input type="text" id="tags" name="tags" value="" placeholder="one tag or more with comma separated">
			</div>
			<div id="pager"></div>

			<span id="rsp-status" style="color:red; font-size: 0.8em;"> </span>
		</form>
		</div>
	</div>
	<div class="clear">

			<ul id="image-list" class="pic-list">
			</ul>

	</div>

	<div class="clear buttons-panel">

	</div>
</body>
</html>
