<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>imsto upload</title>
	<link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui.min.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/static/css/upload.css" type="text/css" media="screen" charset="utf-8" />
	<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery-ui-1.11.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/dust_func.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery.imgupload.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
//<![CDATA[

var api_key = '{{.APIKey}}';

//]]>
	</script>
	<script src="/static/demo/upload.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>


	<div class=" ui-widget-content ui-corner-all">
		<div class="nav">
			<a class="button" href="gallery">Return to list</a>
			<span id="radios1" class="button_box"></span>
		</div>

			<form action="" method="post" id="upload_form" name="upload_form" enctype="multipart/form-data">

			<div class="box">
				<label>select one or more pictures<input type="file" multiple="" name="new_file" id="pic-input" /><a href="javascript:void(0);" id="clear">clear</a></label>
				<svg xmlns="http://www.w3.org/2000/svg" width="300" height="150" viewBox="-10 -10 410 210" id="dropbox">
	                    <path d="M 0 0 L 400 0 L 400 140 L 260 140 L 200 190 L 140 140 L 0 140 Z"/>
	                    &nbsp;&nbsp;<text x="50%" y="35%">or drag pictures to here</text>
	                </svg>
			</div>

				<ul id="image-pic-list" class="pic-list">
				</ul>

				<div id="buttons-panel" class="ui-helper-clearfix clear">
					<input class="btn" type="submit" value="save all"/>
					<div class="btn" id="progressbar"></div>
				</div>

			<br/>
			<br/>
				<div>
					<pre id="message"> </pre>
				</div>
			<br/>
			<br/>
			</form>
	</div>

</body>
</html>
